# 01_ocean

Вам на вход приходит большая матрица из целых чисел. Логически это карта. Каждый элемент матрицы - клеточка карты. Значение элемента - высота над уровнем моря в данной клеточке (если число положительное) или глубина моря (если число отрицательное). Размеры карты - до 1024 по каждой из сторон.

Необходимо найти:

общую площадь клеточек моря, в которых его глубина больше 5;
общий объём всей воды на карте;
максимальную высоту над уровнем моря, которая есть на этой карте.

In [ ]:
import numpy as np

map = np.random.randint(-10, 10, (20, 30))
print('максимальная высота над уровнем моря, которая есть на этой карте = ', np.max(map) )
print('общая площадь клеточек моря, в которых его глубина больше 5 = ', np.sum(map>5) )
print('общий объём всей воды на карте = ', np.abs(np.sum(map[map<0])) )

максимальная высота над уровнем моря, которая есть на этой карте =  9
общая площадь клеточек моря, в которых его глубина больше 5 =  100
общий объём всей воды на карте =  1839

# 02_neuronet

Реализуйте одну очень странную нейросеть. Нейросеть должна:

принимать на вход вектор признаков (чисел с плавающей точкой);
в качестве первого преобразования умножать вектор признаков на матрицу весов A2 (на выходе получается новый вектор);
в качестве второго преобразования умножать вектор, полученный на прошлом шаге, на вектор весов b (на выходе получается скалярное число).
Размерности матриц и векторов - в пределах 1024.

In [ ]:
class SimpleNN:
  def __init__(self, A, b):
    self.A = A
    self.b = b
  
  def forward(self, x):
    layer1 = self.A**2 @ x
    layer2 = layer1 + self.b
    return layer2

simple_nn = SimpleNN(A = np.random.randint(-10, 10, (20, 20)), b = np.random.randint(-10, 10, (20, 1)))

simple_nn.forward(x = np.random.randint(-10, 10, (20, 1)) )

array([[ -239],
       [ 1359],
       [  612],
       [ -478],
       [ -654],
       [ -307],
       [  185],
       [ -720],
       [-1303],
       [-1443],
       [ -338],
       [ -769],
       [ -540],
       [ -567],
       [ -316],
       [  327],
       [ -497],
       [ -994],
       [  574],
       [  322]])

# 03_gamestats

У вас есть данные по разным играм и тому, как их оценивают пользователи. По каждой игре известны название и студия-разработчик. Для каждой игры есть какое-то количество оценок (для разных игр оно разное).

Требуется:

найти 3 игры с самой высокой средней оценкой, вывести их названия и средние оценки в порядке убывания средней оценки;
найти студию-разработчика, у которой максимальное количество игр с рейтингом выше 8.0, вывести название студии и количество таких игр у неё.

In [ ]:
import pandas as pd

df_games = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/6_semester/games001.csv', sep = ';')
df_rate = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/6_semester/rates001.csv', sep = ';')

Посмотрим на обе таблицы

In [ ]:
df_games

   id             name           company
0   1           XCOM 2           Firaxis
1   2   Civilization V           Firaxis
2   3  Darkest Dungeon  Red Hook Studios
3   4     Star Traders    Trese Brothers

In [ ]:
df_rate.head()

   id  mark
0   1     8
1   1     9
2   1    10
3   1     9
4   1     8

Средние оценки

In [ ]:
df = df_rate.groupby(['id']).mean()
df.sort_values(['mark'], ascending=False)

        mark
id
3   9.000000
1   8.866667
2   8.333333
4   8.000000

In [ ]:
mask = df.sort_values(['mark'], ascending=False)[:3].columns
df_games['id'] == mask

ValueError: ignored

In [ ]:
pd.Index(mask)

Index(['mark'], dtype='object')